@model IEnumerable<LabASP.Models.Status>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Статус)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Статус)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Код_статуса }) |
            @Html.ActionLink("Details", "Details", new { id=item.Код_статуса }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Код_статуса })
        </td>
    </tr>
}

</table>
